<div class="row">
  <div class="col-md-12">
    <h2>Categories</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <a [routerLink]="['/category', 'add']">Add Category</a>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Title</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let category of categories">
          <td>{{ category.id }}</td>
          <td>{{ category.title }}</td>
          <td>{{ category.status }}</td>
          <td>
            <a [routerLink]="['/category', category.id, 'edit']">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
